
.Conrol{
    border-radius: 6px;
    padding: 15px;
    border: 1px solid rgb(157, 73,255);
    margin-right: 15px;
    background-color: #3D4756;
    color: white;
    width: 600px;
}
.dimensionality{
    width: 600px;
}
.Conrol-box{
    margin-bottom: 15px;
}
.Conrol-title{
}
.dimensionality-items{
    color: white;
    background-color: rgb( 51, 65, 85);
    padding: 5px 15px;
    border-radius: 6px;
    border: 1px solid #475569;
}

.Conrol .ant-slider-rail {
  background-color: #4B5563;
}

:where(.css-dev-only-do-not-override-1rocbtd).ant-slider:hover .ant-slider-rail{
    background-color: #4B5563;
}
.ant-radio-label{
    color: white;
}
.ant-radio-group{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
}